<?xml version="1.0" encoding="UTF-8"?>
<!-- Bean头部 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
             http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd              
             http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
             http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
     
  <!-- 激活@Controller模式 -->
  <mvc:annotation-driven />
  
  <!-- 对包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 【需要更改 base-package】 -->
  <context:component-scan base-package="com.rogue" />
  
  <!-- HandlerMapping,负责为DispatcherServlet这个前端控制器的请求查找Controller -->
  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
  
  <!-- ViewResolver,负责为DispatcherServlet查找ModelAndView的视图解析器（可修改id值） -->
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <!-- 结果视图前缀 -->
    <property name="prefix">
      <value>/WEB-INF/jsp/</value>
    </property>
    <!-- 结果视图后缀 -->
    <property name="suffix">
      <value>.jsp</value>
    </property>
  </bean>
  <!--  Spring AOP annotation方式
   		proxy-target-class="true" 表示激活自动代理功能 
  		注意：Spring默认并没有加入aop的xsd文件，因为我们需要手动加入 
  		xmlns:aop="http://www.springframework.org/schema/aop
  		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
  -->
  <!-- 激活自动代理功能 -->
  <aop:aspectj-autoproxy proxy-target-class="true"/>
 </beans>